html,body{height:100%;margin:0px;padding:0px;border:0px none;}
input,textarea,select{box-sizing:border-box;-moz-box-sizing:border-box;}

input.mytNativeInput:not([type=button]), textarea.mytNativeInput{margin:0px;padding:1px;border:0px none;}
select.mytNativeInput{margin:0px;}

.mytTextTabSliderLabel{font-size:16px; font-weight:bold;}
.mytButtonText{font-size:12px; font-weight:bold;}
.mytTooltipText{font-size:12px;}
